<div class="page-container">
  <form class="form" [formGroup]="userForm" (ngSubmit)="onSubmit()">

    <div class="user-profile-area">
      <div class="area-header">
        User Profile
      </div>
      <div class="user-profile-input-area">
        <div class="name-input-area">
          <label>Name</label>
          <mat-form-field appearance="outline">
            <input matInput id="name" formControlName="name">
            <mat-error *ngIf="userForm.controls['name'].invalid">{{getErrorMessage('name')}}</mat-error>
          </mat-form-field>
        </div>
        <div class="organization-input-area">
          <label>Organization</label>
          <mat-form-field appearance="outline">
            <input matInput id="organization" formControlName="organization">
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="contact-information-area">
      <div class="area-header">
        Contact Information
      </div>

        <div class="multi-contact-area">
          <div class="contact-information-input-area" *ngFor="let contactNumber of contactListCounter">
            <div class="type-and-contact-input-area">
              <div class="type-input-area">
                <label>Type of Contact</label>
                <mat-form-field appearance="fill">
                  <mat-select [formControlName]="'type' + contactNumber" (selectionChange)="onTypeChange($event, contactNumber)">
                    <mat-option *ngFor="let contact of typeOfContact" [value]="contact">
                      {{contact}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="contact-input-area">
                <label>Contact Label</label>
                <mat-form-field appearance="outline">
                  <input matInput [formControlName]="'label' + contactNumber">
                  <mat-error *ngIf="userForm.controls['label' + contactNumber].invalid">{{getErrorMessage('label' + contactNumber)}}</mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="email-phone-input-area">
              <label>Email/Phone No.</label>
              <mat-form-field appearance="outline">
                <input matInput [formControlName]="'value' + contactNumber">
                <mat-error *ngIf="userForm.controls['value' + contactNumber].invalid">{{getErrorMessage('value' + contactNumber)}}</mat-error>
              </mat-form-field>
            </div>
            <div class="contact-button-area">
              <button mat-raised-button color="warn" type="button"
                (click)="removeContact(contactNumber)">Remove</button>
            </div>
          </div>
        </div>

      <div *ngIf="contactListCounter.length === 0 ? true : false" class="contact-list-is-empty">
        No Contacts Found. pls click "Add Contact" to add a new one.
      </div>
    </div>

    <div class="form-buttons-area">
      <button mat-raised-button color="primary" type="button" (click)="addContact()">Add Contact</button>
      <button mat-raised-button color="primary" type="submit" [disabled]="!userForm.valid">Save User Profile</button>
    </div>

  </form>
</div>